.credits_container {
	margin: auto;
	padding: 22px;
	text-align: center;
}

.credits_user {
	position: relative;
	width: 240px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #111;
	display: inline-block;
	border-radius: 16px 48px 16px 16px;
	border: 3px solid #888;
	box-shadow: 4px 4px 4px rgba(255, 255, 255, 0.3);
	margin-left: 10px;
	margin-right: 10px;
	transform: rotateZ(1deg) scale(0.95);
}

#credits_holder_main {
padding-top: 16px;
}

.credits_avatar { margin: auto; width: 180px; height: 180px; margin-top: 10px; }
.credits_avatar img { width: 100%; height: 100%; border-radius: 50% 25% 50% 25%; border: 2px solid #aaa; }

.credits_name a { color: #222;  }
.credits_name a:active { color: #222; text-decoration: none; }
.credits_name a:hover { color: #444; text-decoration: none; }
.credits_name a:visited { color: #222; text-decoration: none; }

.credits_name {
	width: 100%;
	margin-top: 16px;
	margin-bottom: 16px;
	border-top: 2px solid #888;
	border-bottom: 2px solid #888;
	color: #222;
	text-align: center;
	font-size: 16pt;
	font-family: CreditsMain;
	background-color: #b5916f;
	padding-top: 4px;
	padding-bottom: 4px;
	letter-spacing: 1px;
}

.credits_info {
	background-color: #222;
	text-align: center;
	color: #aaa;
	margin-bottom: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	font-family: Lexend;
	font-size: 12pt;
}

.credits_icon {
	position: absolute;
	left: -30px;
	top: -30px;
	width: 80px;
	height: 80px;
	transform: rotateZ(-10deg);
}

.credits_icon img { width: 100%; height: 100%; }

.credits_divider {
	text-align: center;
	background-color: #b5916f;
	color: #666;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 16px;
	font-size: 20pt;
	width: 800px;
	height: 60px;
	line-height: 78px;
	margin: auto;
	background: url("credits_divider.png");
	background-repeat: no-repeat;
	font-family: CreditsMain;
	letter-spacing: 2px;
	font-weight: bold;
}
