.packholder {
	width: 90%;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 16px;
	color: white;
	position: relative;
	min-height: 200px;
	box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2);
	margin-top: 24px;
	margin-bottom: 24px;
	border-radius: 16px 0px 16px 0px;
}

.packleft img { height: 200px; width: 200px; }

.packleft {
	width: 30%;
	position: absolute;
}

.packright {
	width: 70%;
	position: relative;
	left: 30%;
	color: white;
	padding-top: 8px;
	padding-bottom: 8px;
}

.packright_top {
	margin-top: 16px;
	margin-bottom: 32px;
	font-size: 11pt;
	font-family: Lexend;
}

.packright_tiny {
	font-size: 11pt;
	opacity: 0.5;
	margin-bottom: 16px;
}

.packright_download { font-size: 24pt; font-family: SideFont; }
.packright_download a { color: #eecc77; opacity: 0.8; }
.packright_download a:visited { color: #eecc77; opacity: 0.8; }
.packright_download a:active { color: #eecc77; opacity: 0.8; }
.packright_download a:hover { color: #ffdd88; opacity: 1.0; }
.packright_download_alternate { font-size: 16pt; margin-top: 4px; margin-bottom: 4px; opacity: 0.75; }

.tinynote {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 8pt;
	opacity: 0.25;
}

.packright_header { font-family: CreditsMain; font-size: 16pt;}
.packright_type 
{ 
	position: relative;
	font-family: monospace; 
	opacity: 0.5; 
	margin-top: 4px; 
	width: 100%; 
}

.packright_author {
	position: absolute;
	text-align: right;
	top: 0;
	right: 0;
}

#download_header {
	width: 100%;
	text-align: center;
	color: white;
	font-size: 19pt;
	font-family: CreditsMain
}

#download_info {
	font-size: 13pt;
	text-align: center;
	width: 100%;
	color: white;
	margin-top: 8px;
	margin-bottom: 8px;
	font-family: Lexend;
}

#download_container {
	width: 90%;
	margin: auto;
	text-align: center;
	margin-top: 48px;
}

.downloadholder {
	width: 225px;
	min-height: 350px;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2);
	padding: 16px;
	margin-left: 24px;
	margin-right: 24px;
	border-radius: 12px 0px 12px 0px;
	position: relative;
}

.downloadhelper {
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(0, 0, 0, 0.5);
	padding: 4px;
	margin-top: 16px;
	margin-bottom: 8px;
	box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.2);
	border-radius: 4px;
	font-family: monospace;
}

.downloadheader {
	font-family: CreditsMain;
	color: white;
	font-size: 28pt;
}

.downloadbottom {
	color: rgba(255, 255, 255, 0.6);
	padding-top: 24px;
	min-height: 100px;
	font-family: Lexend;
	font-size: 11pt;
}

#stableversion {
	color: #111;
	position: absolute;
	left: -32px;
	top: -16px;
	font-size: 22pt;
	font-family: CreditsMain;
	transform: rotatez(-5deg);
	background-color: #e8dcc0;
	padding: 8px;
	padding-left: 16px;
	padding-right: 16px;
	border-radius: 8px;
}

.downloadbottom a {color: #d8a858;}
.downloadbottom a:active {color: #d8a858;}
.downloadbottom a:visited {color: #d8a858;}
.downloadbottom a:hover {color: #e8dcc0;}

.downloadlink { font-family: SideFont; font-size: 20pt; }
.downloadlink a {color: #d8a858;}
.downloadlink a:active {color: #d8a858;}
.downloadlink a:visited {color: #d8a858;}
.downloadlink a:hover {color: #e8dcc0;}

#howto { 
	width: 50%;
	margin: auto;
	text-align: center;
	margin-top: 32px;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 16px;
	box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.2);
	border-radius: 8px 0px 8px 0px;
}

#howto_link { margin-bottom: 16px; }

#howto a {color: #d8a858; font-family: CreditsMain; font-size: 26pt;}
#howto a:active {color: #d8a858;}
#howto a:visited {color: #d8a858;}
#howto a:hover {color: #e8dcc0;}

#vocalsblock {
	background-color: rgba(255, 255, 255, 0.5);
	background-image: url("Scroller/otherfeatures.jpg");
	margin: auto;
	margin-top: 48px;
	padding: 16px;
	width: 90%;
	border-radius: 8px;
	position: relative;
}

#vocalsheader {
	text-align: center;
	color: black;
	font-family: CreditsMain;
	font-size: 20pt;
	padding: 16px;
}

#vocalshelp {
	width: 80%;
	color: black;
	box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2);
	margin: auto;
	text-align: center;
	padding: 16px;
	border-radius: 4px;
	font-family: Lexend;
}

#vocalsimage {
	margin: auto;
	width: 50%;
	text-align: center;
	margin-top: 24px;
	margin-bottom: 24px;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.2); 
	position: relative;
}

#vocalsimage img { width: 100%; }

#vocalsclip {
	position: absolute;
	right: 50px;
	top: -7px;
	background-image: url("Scroller/paperclip.png");
	width: 85px;
	height: 85px;
	background-size: cover;
}

#vocalstape_1 {
	position: absolute;
	left: -20px;
	bottom: -15px;
	width: 80px;
	height: 30px;
	transform: rotatez(25deg);
	background-image: url("Scroller/tape_1.png");
	background-size: cover;
}

#vocalstape_2 {
	position: absolute;
	right: -30px;
	top: -15px;
	width: 80px;
	height: 30px;
	transform: rotatez(25deg);
	background-image: url("Scroller/tape_2.png");
	background-size: cover;
}

#howto_sub {
	color: white;
	font-family: Lexend;
	font-size: 11pt;
}

#interested {
	text-align: center;
	color: white;
	margin-top: 32px;
	font-size: 16pt;
	font-family: CreditsMain;
	margin-bottom: 32px;
}

.getmore {
	text-align: center;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	padding-top: 12px;
	padding-bottom: 8px;
	width: 400px;
	margin: auto;
	margin-top: 24px;
	margin-bottom: 24px;
	border-radius: 16px 0px 16px 0px;
	box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2); 
	text-shadow: 2px 2px black;
}

.getmore_author { opacity: 0.30; font-family: monospace; font-size: 8pt; }

.getmore a {color: #d8a858; font-family: CreditsMain; font-size: 20pt; letter-spacing: 1px;}
.getmore a:active {color: #d8a858;}
.getmore a:visited {color: #d8a858;}
.getmore a:hover {color: #e8dcc0;}

.getmore_info {
	background-color: rgba(64, 64, 64, 0.5);
	width: 80%;
	margin: auto;
	margin-top: 16px;
	margin-bottom: 8px;
	
	border-radius: 8px 8px 8px 8px;
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25); 
	padding: 16px;
	
	font-family: Lexend;
	font-size: 10pt;
}

.instrumentlist {
	position: absolute;
	right: 16px;
	top: -20px;
}

.instrumentlist li { display: inline-block; width: 48px; }
.instrumentlist li img { width: 64px; height: 64px; }

.limitwarning {
	background-color: #422;
	color: white;
	text-align: center;
	position: relative;
	height: 150px;
	width: 80%;
	margin: auto;
	margin-bottom: 64px;
	border-radius: 8px;
	box-shadow: 0px 0px 4px 2px rgba(255, 255, 255, 0.2); 
}

#limittrashleft, #limittrashright {
	position: absolute;
	top: 25px;
}

#limittrashleft { left: 25px; }
#limittrashright { right: 25px; }

#limittext {
	width: 60%;
	margin: auto;
	margin-top: 16px;
}

#limitholder { top: 20px; position: relative; }

#limitheader { font-size: 20pt; font-family: CreditsMain; }
