.bg_wallpapers {
	background: url('posterpage_loop_wp.jpg');
}

.vidtitle {
	width: 100%;
	text-align: center;
	color: white;
	font-family: CreditsMain;
	font-size: 18pt;
}

.vidholder {
	text-align: center;
	margin-top: 24px;
	margin-bottom: 24px;
}

.vidholder iframe { border-radius: 8px; }
