#mainholder {
	margin: 32px;
}

.entersomething { margin-top: 8px; margin-bottom: 8px; }

.entertext_form { display: inline-block; }
.entertext_form input { width: 100px; }
.entertext { display: inline-block; width: 100px; }

#output { margin-top: 32px; text-align: center; }

#leftbox { width: 400px; display: inline-block; }
#rightbox { display: inline-block; text-align: center; }

#binary {
	font-family: monospace;
	margin-top: 16px;
	margin-bottom: 16px;
}

#helpme {
	margin: auto;
	text-align: center;
	margin-top: 64px;
}
